$primaryColor: #363232; 
$secondaryColor: #7c1d35;
$accentColor: #3990c3;
$greyColor: #ccc;

$defaultFont:'Alan Sans', sans-serif;
$headerFont: "Limelight", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;